# See http://help.github.com/ignore-files/ for more about ignoring files.

# secrets
config/secrets.*.js*

# dependencies
node_modules

# misc
.DS_Store
npm-debug.log

# editors
*.sw?
.idea
.vscode

# test output
coverage

# error logs
yarn-error.log
po.json

# merge conflicts
*.orig
